In [1]:
import pandas as pd
import random, math
from random import randint

In [2]:
lista = [[randint(0,9),randint(0,9)],[randint(0,9),randint(0,9)],[randint(0,9),randint(0,9)],
         [randint(0,9),randint(0,9)],[randint(0,9),randint(0,9)],[randint(0,9),randint(0,9)],
         [randint(0,9),randint(0,9)],[randint(0,9),randint(0,9)],[randint(0,9),randint(0,9)],
         [randint(0,9),randint(0,9)]]

In [3]:
lista

[[7, 5],
 [1, 0],
 [3, 4],
 [8, 8],
 [3, 5],
 [2, 6],
 [7, 2],
 [0, 2],
 [3, 3],
 [9, 9]]

In [4]:
def potegowanie(x, y, x1, y1, x2, y2, x3, y3, x4, y4, x5, y5, x6, y6, x7, y7, x8, y8, x9, y9):
    my_list2 = [[x**y],[x1**y1],[x2**y2],[x3**y3],[x4**y4],[x5**y5],[x6**y6],[x7**y7],[x8**y8],[x9**y9]]
    return my_list2

In [5]:
my_list3 = potegowanie(randint(0, 9),randint(0, 9),randint(0, 9),randint(0, 9),
            randint(0, 9),randint(0, 9),randint(0, 9),randint(0, 9),
            randint(0, 9),randint(0, 9),randint(0, 9),randint(0, 9),
            randint(0, 9),randint(0, 9),randint(0, 9),randint(0, 9),
            randint(0, 9),randint(0, 9),randint(0, 9),randint(0, 9))

In [6]:
my_list3

[[40353607],
 [16],
 [5764801],
 [40353607],
 [0],
 [65536],
 [262144],
 [279936],
 [4096],
 [4]]

In [7]:
labels = ['x','y']

In [10]:
df = pd.DataFrame.from_records(lista, columns = labels)
df

   x  y
0  7  5
1  1  0
2  3  4
3  8  8
4  3  5
5  2  6
6  7  2
7  0  2
8  3  3
9  9  9

In [11]:
df.assign(x_pot_y=df.x**df.y)

   x  y    x_pot_y
0  7  5      16807
1  1  0          1
2  3  4         81
3  8  8   16777216
4  3  5        243
5  2  6         64
6  7  2         49
7  0  2          0
8  3  3         27
9  9  9  387420489